@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    font-family: "Poppins" , sans-serif;
    color: white;
}
:root{
    --color_primary:rgb(28,229,242);
    --color_primary_middle:rgb(56,166,173);
    --backgroud_Color:rgb(27,27,27);
    --NavBar_Color: rgb(20,20,20);
}
body{
    outline: none;
    background-color: var(--backgroud_Color);
    color: white;
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 50%;
}
::-webkit-scrollbar-thumb{
    background: rgb(41, 41, 41);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background:  rgb(41, 41, 41);
}
::-webkit-scrollbar-track{
    background: rgb(31, 31, 31);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px var(--backgroud_Color);
}
.text-color{
    color: var(--color_primary) !important;
}
.text-shadow{
    letter-spacing: 0.4px;
    text-shadow: 0px 0px 8px var(--color_primary) !important;
}
.drag {
    -webkit-app-region: drag;
}




#header-frame-custom{
  z-index: 99999999;
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  top: 0;
}
#header-frame-custom img{
  width: 30px;
  position: absolute;
  left: 15px;
  top: 3px;
}
#header-frame-custom h1{
  position: absolute;
  top: 7.5px;
  letter-spacing: 0.8px;
  left: 50px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(210,210,210);
}
#header-frame-custom .line{
  width: 95%;
  height: 1px;
  position: absolute;
  bottom: 1px;
  left: 3%;
  background-color: rgb(32,32,32);
  border-radius: 4px;
}
#header-frame-custom .btn{
  outline: none;
  position: absolute;
  right: 0;
  width: 50px;
  height: 35px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  -webkit-app-region: no-drag !important;
  font-size: 13px;
}
#header-frame-custom .btn:hover{
  background: rgb(50,50,50,0.5);
}
#header-frame-custom #close-btn:hover{
  background: var(--color_primary_middle);
}



#alert{
  pointer-events: none;
  transition: all .4s ease-in-out;
  position: fixed;
  right: 7px;
  bottom: 10px;
  width: 340px;
  height: 40px;
  border-radius: 6px;
  opacity: 0;
  overflow: hidden;
  z-index: 99999999;
  border-width: 1.5px;
}
.alert-show{
  opacity: 1 !important;
  height: 40px;
}
#alert i{
  text-align: center;
  font-size: 20px;
  padding-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
}
#alert h1{
  position: absolute;
  left: 60px;
  top: calc(100% / 2 - 9px);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.815);
}




#category-list-back{
  position: fixed;
  left: 0px;
  top: 50px;
  width: 280px;
  height: 91%;
}
#category-list-back .line{
  position: absolute;
  right: 1px;
  background-color: rgb(32,32,32);
  top: 3%;
  width: 1px;
  height: 95%;
  z-index: 999999;
}
#category-list-back #tittle{
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(200, 200,200,0.8);
  left: 10px;
}
.category-list-item{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  outline: none;
  position: relative;
  left: 5%;
  width: 90%;
  height: 50px;
  background-color: rgb(34, 34, 34,0.6);
  margin-top: 8px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.category-list-item h1{
  pointer-events: none;
  position: absolute;
  width: 90%;
  left: 5%;
  height: 100%;
  font-size: 19px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(200, 200,200,0.8);
  
}
.category-list-item:hover{
  background-color: rgb(40,40,40);
}
.category-list-item:hover h1{
  color: rgb(230,230,230);
}
#category-list-back .add-category{
  width: 88%;
  height: 48px;
  background-color: transparent !important;
  border-style: dashed;
  border-color: rgb(40, 40, 40,0.6);
  border-width: 2px;
}
#category-list-back .add-category:hover{
  background-color: rgb(46,46,46,0.8) !important;
  border-color: rgb(46, 46, 46,0.6);
}
#category-list-back .add-category h1{ 
  padding-top: 5px;
  font-size: 28px;
  font-weight: 400;
}
#category-list-back .edit-category{
  width: 30px;
  height: 22px;
  position: absolute;
  right: 5px;
  top: calc(100% / 2 - 15px);
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: rgb(40,40,40);
  color: rgb(200, 200,200,0.8);
  padding-top: 8px;
}
#category-list-back .edit-category:hover{
  background-color: rgb(30,30,30);
  color: rgb(230,230,230);
}
#category-list-back #settings-btn{
  outline: none;
  -webkit-app-region: no-drag;
  position: absolute;
  bottom: 0px;
  right: 10px;
  background-color: transparent;
  border-style: none;
  font-size: 19px;
  cursor: pointer;
}
#category-list-back #settings-btn i{
  color: rgb(200, 200,200,0.8);
}
#category-list-back #settings-btn:hover i{
  color: rgb(230,230,230);
}







#account-information-back{
  position: absolute;
  left: 285px;
  top: 40px;
  width: calc(100% - 290px);
  height: calc(99% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}
#account-information-back .account-information-item{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
  cursor: pointer;
  position: relative;
  width: 98%;
  left: 1%;
  height: 110px;
  margin-top: 10px;
  background-color: rgb(34, 34, 34,0.4);
  border-radius: 5px;
  outline: none;
  border-style: none;

}
#account-information-back .account-information-item h1{
  position: absolute;
  left: 120px;
  top: 15px;
  font-size: 20px;
  color: rgb(200, 200,200,0.8);
}
#account-information-back .account-information-item .icon{
  position: absolute;
  left: 40px;
  top: 30px;
  font-size: 50px;
  color: rgb(200, 200,200,0.8);
}
#account-information-back .account-information-item h2{
  position: absolute;
  left: 120px;
  top: 42px;
  font-size: 16px;
  color: rgb(200, 200,200,0.8);
  font-weight: 400;
  letter-spacing: 1px;
}
#account-information-back .account-information-item h3{
  position: absolute;
  left: 120px;
  top: 65px;
  font-size: 16px;
  color: rgb(200, 200,200,0.8);
  font-weight: 200;
  letter-spacing: 1px;
}
#account-information-back .account-information-item .icon-2{
  position: absolute;
  right: 30px;
  top: 35px;
  font-size: 45px;
  color: rgb(200, 200,200,0.8);
}
#account-information-back .account-information-item:hover{
  background-color: rgb(40,40,40);
}
#account-information-back .account-information-item:hover i{
  color: rgb(230,230,230);
}
#account-information-back .account-information-item:hover h1{
  color: rgb(230,230,230);
}
#account-information-back .account-information-item:hover h2{
  color: rgb(230,230,230);
}
#account-information-back .account-information-item:hover h3{
  color: rgb(230,230,230);
}
#account-information-back .account-add{
    background-color: transparent ;
    border-style: dashed;
    border-width: 2px;
    border-color:rgb(40,40,40);
}
#account-information-back .account-add h1{
  font-weight: 300;
  font-size: 60px;
  position: absolute;
  left: calc(100% / 2 - 10px);
  top: calc(100% / 2 - 40px);
}





#window-info-back-full{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  backdrop-filter: blur(16px);
  z-index: 9999999;
}
#window-info-back{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  left: calc(100% / 2 - 290px);
  top: calc(100% / 2 - 180px);
  background-color: rgb(37,37,37);
  width: 580px;
  height: 360px;
  z-index: 99999999;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.visible-window-info{
  visibility: visible !important;
  opacity: 1 !important;
}
#window-info-back #window-info-header{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: rgb(43,43,43);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}
#window-info-back #window-info-header h1{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  position: absolute;
  top: 9px;
  left: 10px;
  pointer-events: none;
}
#window-info-back #window-info-header #window-info-close{
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 9px;
  font-size: 19px;
  color: rgb(200, 200,200,0.8);
}
#window-info-back #window-info-header #window-info-close:hover{
  color: rgb(230,230,230);
}
#window-info-back #window-info-body{
  position: relative;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 50px);
}


#window-info-back #window-info-body .input-back{
    position: absolute;
    top: 10px;
    width: 90%;
    height: 40px;
    background-color: rgb(47,47,47);
    left: 5%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
#window-info-back #window-info-body .input-back .icon{
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  font-size: 19px;
  background-color: var(--color_primary_middle);
  padding-top: 10px;
}
#window-info-back #window-info-body .input-back .icon-function{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  text-align: center;
  top: 0;
  padding-top: 12px;
  font-size: 16px;
  backdrop-filter: blur(7px);
  border-radius: 7px;
  color: rgb(200, 200,200,0.8);
  cursor: pointer;
}
#window-info-back #window-info-body .input-back .icon-function:hover{
  color: rgb(230,230,230);
}
#window-info-back #window-info-body .input-back input{
    position: absolute;
    width: calc(100% - 54px);
    height: 100%;
    left: 45px;
    background-color: transparent;
    border-style: none;
    outline: none;
}
#window-info-back #window-info-body .btn-event{
  outline: none;
  position: absolute;
  width: 120px;
  height: 35px;
  right: 10px;
  bottom: 10px;
  background-color: var(--color_primary_middle);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(200, 200,200,0.8);
}
#window-info-back #window-info-body .btn-event:hover{
  color: rgb(230,230,230);

}






















